body {
  font-family: "Arial", sans-serif;
  margin: 0;
  background-color: #f5f5f5;
}

header {
  background-color: #ff5a5f;
  padding: 1rem 2rem;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  color: red;
}

main {
  height: 200px;
  width: 500px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 2rem auto;
  max-width: 600px;
  border-radius: 8px;
}
